<form >

    <div class="main-div">
    <mat-card class="mat-card-main">
        <div class="sign-in">
            <img class="google-pic" src="../../assets/Google_image.jpg">
    
            <p class="sign-in-text">Find your email</p>
            <p class="basic-text">Enter your phone number or recovery email
            </p>
        </div>
          <div class="input-field">
            <mat-form-field appearance="outline">
              <mat-label>Email or phone</mat-label>
              <input matInput id="email">
            </mat-form-field>
    
      </div>
    
      <button mat-raised-button class="login-button-2">Next</button>
    
      </mat-card>
      </div>
    </form>
