<div class="main-div">
  <mat-card class="mat-card-main">
    <div class="one-div">
        <mat-icon><span>arrow_back_ios</span></mat-icon>
        <h1>Chat</h1>
    </div> 
    <div class="a">
         <div class="l1">  
           <p>Hi</p>   
        </div>
         <div class="arrow1">
            <mat-icon><span>circle</span></mat-icon>
        </div>

    </div>

    <div class="b">
        <div class="arrow2">
           <mat-icon><span>circle</span></mat-icon>
       </div>
       <div class="l2">  
        <p>Hello</p>   
        </div>

   </div>

   <div class="c">
    <div class="l3">  
      <p>wh r u</p>   
   </div>
    <div class="arrow3">
       <mat-icon><span>circle</span></mat-icon>
   </div>

</div>

<div class="d">
    <div class="arrow4">
        <mat-icon><span>circle</span></mat-icon>
    </div>
    <div class="l4">  
      <p>This is lokesh</p>   
   </div>
    

</div>

<div class="e">
    <div class="arrow5">
        <mat-icon><span>add</span></mat-icon>
        <input type="text" style="width: 200px; border-radius: 10px;height:40px; padding-top: 10px;margin-top: 10px;margin-right: 10px;;">
        <mat-icon><span>send</span></mat-icon>
    </div>
    
    

</div>
   
</mat-card>

</div>

